<launch>

  <!-- <env name="ROS_MASTER_URI" value="http://172.17.0.1:11311"/>
  <env name="ROS_IP" value="172.17.0.1"/> -->

  <arg name="namespace" default="volta_0" />
  <include file="$(find navigation)/launch/map_indoor.launch"/>

  <include file="$(find robot_ns)/launch/robot.launch">
    <arg name="namespace" default="$(arg namespace)" />
    <arg name="x_pos" default="-4.0" />
    <arg name="y_pos" default="-3.0" />
    <arg name="yaw" default="3.14159" />
  </include>

  <include file="$(find navigation)/launch/localization.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="-3.0"/>
    <arg name="initial_pose_a" default="1.5707"/>
  </include>

  <include file="$(find navigation)/launch/navigation.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

</launch>