<launch>
    <param name="use_sim_time" value="true" />
    <arg name="map_file" default="$(find navigation)/maps/office/office.yaml" />
    <arg name="rviz_config" default="$(find navigation)/rviz_config/three_volta.rviz" />

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map" />
    </node>

    <include file="$(find multirobot)/launch/multirobot.launch" />
    <include file="$(find navigation)/launch/navigation0.launch" />
    <include file="$(find navigation)/launch/navigation1.launch" />
    <include file="$(find navigation)/launch/navigation2.launch" />
    <include file="$(find navigation)/launch/move_base.launch" />
    <include file="$(find navigation)/launch/move_base1.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" respawn="true" />

    <arg name="keyboard" default="false" />
    <rosparam command="load" file="$(find volta_teleoperator)/config/joy.yaml" unless="$(arg keyboard)" />
    <node pkg="joy" type="joy_node" name="joy_node"  unless="$(arg keyboard)" />
    <node pkg="volta_teleoperator" type="volta_joy_teleop_node" name="joy_teleop" output="screen" unless="$(arg keyboard)">
      <remap from="/joy/cmd_vel" to="/volta_0/cmd_vel"/>
    </node>
    
</launch>