<?xml version="1.0"?>
<launch>

    <include file="$(find environment)/launch/world.launch"/>

    <arg name="volta0_initX" value="0"/>
    <arg name="volta0_initY" value="0"/>
    <arg name="volta0_initYaw" value="0"/> 

    <arg name="volta1_initX" value="-1"/>
    <arg name="volta1_initY" value="0"/>
    <arg name="volta1_initYaw" value="0"/> 

    <arg name="model" default="$(find descriptions)/urdf/volta/volta.xacro"/>


    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <param name="robot_description" command="$(find xacro)/xacro -|-inorder $(arg model) number:=0"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model volta -param robot_description -x $(arg volta0_initX) -y $(arg volta0_initY) -z 0 -R 0 -P 0 -Y $(arg volta0_initYaw)">
    </node>
    <include file="$(find volta_control)/launch/control.launch" /> -->

    <!-- <group ns = "volta0"> -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) number:=0"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model volta0 -param robot_description -x $(arg volta0_initX) -y $(arg volta0_initY) -z 0 -R 0 -P 0 -Y $(arg volta0_initYaw)">
        </node>
        <include file="$(find volta_control)/launch/control.launch" />
    <!-- </group> -->
    
</launch>
