<launch>

	<arg name="namespace_0" default="volta_0" />
	<arg name="namespace_1" default="volta_1" />
	<arg name="namespace_2" default="volta_2" />
	<arg name="namespace_3" default="volta_3" />

	<!-- FOLLOWER 1 -->
    <node pkg="navigation" name="navigation_node_1" type="navigation_node.py" args="1 0" output="screen"/>
    
    <!-- FOLLOWER 2 -->
    <node pkg="navigation" name="navigation_node_2" type="navigation_node.py" args="2 0" output="screen"/>
    
    <!-- FOLLOWER 3 -->
    <node pkg="navigation" name="navigation_node_3" type="navigation_node.py" args="3 0" output="screen"/>

    <!-- FOLLOWER 4 -->
    <!-- <node pkg="navigation" name="navigation_node_4" type="navigation_node.py" args="4 0" output="screen"/> -->
    
    <!-- FOLLOWER 5 -->
    <!-- <node pkg="navigation" name="navigation_node_5" type="navigation_node.py" args="5 0" output="screen"/> -->
    
    <!-- FOLLOWER 6 -->
    <!-- <node pkg="navigation" name="navigation_node_6" type="navigation_node.py" args="6 0" output="screen"/> -->

</launch>
