<launch>

	<arg name="namespace_0" default="volta_0" />
	<arg name="namespace_1" default="volta_1" />
	<arg name="namespace_2" default="volta_2" />
	<arg name="namespace_3" default="volta_3" />

	<!-- FOLLOWER 1 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_1" type="intelligent_robot_node.py" args="1" output="screen"/> -->
    <node pkg="navigation" name="navigation_node_1" type="navigation_node.py" args="1" output="screen"/>
    
    <!-- FOLLOWER 2 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_2" type="intelligent_robot_node.py" args="2" output="screen"/> -->
    <node pkg="navigation" name="navigation_node_2" type="navigation_node.py" args="2"/>
    
    <!-- FOLLOWER 3 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_3" type="intelligent_robot_node.py" args="3" output="screen"/> -->
    <node pkg="navigation" name="navigation_node_3" type="navigation_node.py" args="3"/>

    <!-- FOLLOWER 4 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_4" type="intelligent_robot_node.py" args="4" output="screen"/>
    <node pkg="navigation" name="navigation_node_4" type="navigation_node.py" args="4"/> -->

    <!-- FOLLOWER 5 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_5" type="intelligent_robot_node.py" args="5" output="screen"/>
    <node pkg="navigation" name="navigation_node_5" type="navigation_node.py" args="5"/> -->

    <!-- FOLLOWER 6 -->
    <!-- <node pkg="multirobot" name="intelligent_robot_node_6" type="intelligent_robot_node.py" args="6" output="screen"/>
    <node pkg="navigation" name="navigation_node_6" type="navigation_node.py" args="6"/> -->

</launch>
