<launch>

    <arg name="first_volta"  default="volta_0"/>
    <arg name="second_volta" default="volta_1"/>
  
    <arg name="first_volta_x_pos" default="2.0"/>
    <arg name="first_volta_y_pos" default="0.0"/>
    <arg name="first_volta_z_pos" default="0.0"/>
    <arg name="first_volta_yaw"   default="0"/>
  
    <arg name="second_volta_x_pos" default="-2.0"/>
    <arg name="second_volta_y_pos" default="0.0"/>
    <arg name="second_volta_z_pos" default="0.0"/>
    <arg name="second_volta_yaw"   default="0"/>
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
    </include>

    <group ns = "$(arg first_volta)">
		<arg name="model" default="$(find descriptions)/urdf/volta0/volta.xacro"/>
    	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
		<param name="tf_prefix" value="volta_0_tf" />
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="False"/>
		</node>
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="50.0" />
			<param name="tf_prefix" value="volta_0_tf" />
		</node>
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_volta) -x $(arg first_volta_x_pos) -y $(arg first_volta_y_pos) -z $(arg first_volta_z_pos) -Y $(arg first_volta_yaw) -param robot_description" respawn="false" output="screen" />
    </group>
   
	<group ns = "$(arg second_volta)">
	    <arg name="model" default="$(find descriptions)/urdf/volta1/volta.xacro"/>
    	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
		<param name="tf_prefix" value="volta_1_tf" />
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="False"/>
		</node>
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
			<param name="publish_frequency" type="double" value="50.0" />
			<param name="tf_prefix" value="volta_1_tf" />
		</node>
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_volta) -x $(arg second_volta_x_pos) -y $(arg second_volta_y_pos) -z $(arg second_volta_z_pos) -Y $(arg second_volta_yaw) -param robot_description" respawn="false" output="screen" />
    </group>
  
  </launch>